.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {

  height: 150px;
  padding: 20px;
  color: #616161;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Comments Component Style Sheet*/
.Outer-wrap{
  margin: auto;
  margin-top: 100px;
  width: 280px;
}
.Details{
  float: left;
  padding-left: 15px;
}
.Profile-pic{
  float: left;
}
.Profile-pic img{
    width: 50px;
    display: inline-block;
}
.Profile-name{
  color: #6d7bec;
}
.Name-Card{
  font-size: 14px;
  color: #a5a1a1;
}
.Comments{
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    color: #616161;
}

.Actions{
  float: left;
  margin-top: 5px;
}



.Add-Comment-wrap{
  
}